nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 130px;
    height: 45px;
}

.right ul {
    display: flex;
    gap: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 4px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}
.first span{
   font-size: 42px;

}
.first p{
   font-size: 21px;
   width: 68vw;
   text-align: center;
}
section span img{
   width: 96px;
   margin: 0 15px;
}

.btn{
   background: #00b6d1;
   color: white;
   padding: 15px 15px;
   font-size: 14px;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   margin: 12px 0;
   cursor: pointer;

}
.btn a{
   text-decoration: none;
   color: white;
}
.green{
   background-color: green;
}
.flex{
   display: flex;
}

.small{
   font-size: 13px;
}

.second{
   max-width: 79vw;
   margin: auto;
}
.item{
   padding: 23px;
   background: #f6f4f4de;
   border-radius: 2px;
   text-align: center;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-lang{
   font-weight: 700;
   text-align: center;
   padding-bottom: 36px;
}

.grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 12px;
   margin-top: 45px;
}
.download :nth-child(2){
   font-size: 23px;
}
.download img{
   padding: 0px 12px;
   width: 60px;

}
.download{
   display: flex;
   gap: 10px;
   align-items: center;
   font-family: sans-serif;
}
@media screen and (max-width: 1000px) {
   .grid{
       grid-template-columns: 1fr;
   }
   
}